.root {
  display: flex;

  .list {
    display: flex;
    flex-shrink: 0;

    .trigger {
      user-select: none;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 6px 24px;

      color: var(--color-light-100);

      background: transparent;

      &:first-child {
        border: 1px solid var(--color-dark-300);
        border-radius: 2px 0 0 2px;
      }

      &:last-child {
        border-top: 1px solid var(--color-dark-300);
        border-right: 1px solid var(--color-dark-300);
        border-bottom: 1px solid var(--color-dark-300);
        border-radius: 0 2px 2px 0;
      }

      &:active {
        background: var(--color-accent-500);
      }

      &:hover {
        color: var(--color-light-900);
        background: var(--color-dark-500);
        border-color: var(--color-dark-100);
      }

      & [data-state='active'] {
        color: var(--color-light-100);
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px var(--color-info-700);
      }
    }
  }
}
